body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

div{
    margin-top: 15px;
    display: inline-grid;
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

input{
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}


